
<div class="my-message">
  <div class="message-info">
    <p class="my-msg-username"><strong><%= message.user.username %></strong></p>
    <p class="my-msg-time"><%= message.created_at.strftime("%I:%M %p") %></p>
  </div>
  <% if message.document? %>
     <div class="my-msg-content-media">
      <%= link_to family_document_path(@family, message.document) do %>
        <%= cl_image_tag message.content %>
          <% end %>
    </div>
  <% elsif url = message.content.match(/(https?:\/\/www\.\w+\.[a-z]{2,3}\/\w*\/?\w*)/) %>
    <a href="<%= message.content %>" target="_blank" style="color: blue"><%= message.content %></a>
    <% else %>
<!--   <%= cl_image_tag message.content %> -->
    <%= message.content %>
  <% end %>
</div>

