<div class="other-messages">
  <div class="message-info">
    <p><strong><%= message.user.username %></strong></p>
    <p><%= message.created_at.strftime("%I:%M %p") %></p>
  </div>
  <% if message.document? %>
    <div class="my-msg-content-media">
      <%= link_to family_document_path(@family, message.document) do %>
        <%= cl_image_tag message.content %>
          <% end %>
    </div>
  <% else %>
    <%= message.content %>
<!--   <%= cl_image_tag message.content %>
 -->

  <% end %>
</div>
