<div class="other-messages">
  <div class="message-info">
    <p style="color: <%= message.user.color %>"><strong><%= message.user.username %></strong></p>
    <p><%= message.created_at.strftime("%I:%M %p") %></p>
  </div>
  <% if message.document? %>
    <div class="content-media">
      <%= link_to family_document_path(message.document.family, message.document) do %>
        <%= cl_image_tag message.content %>
          <% end %>
    </div>
<!--
  <%# elsif url = message.content.match(/(https?:\/\/www\.\w+\.[a-z]{2,3}\/\w*\/?\w*)/) %>
    <a href="<%#= message.content %>" target="_blank" style="color: blue"><%#= message.content %></a> -->
    <% else %>
    <div class="other-msg-content">
      <%= message.content %>
    </div>
  <% end %>
</div>
