<%= render 'shared/navbarburger-notes'%>

<p class="conversation-name trim"><strong><%= @family.name %> / <%= @note.title %></strong></p>
<div class="container">
  <div class="border p-2 members">

    <%= @note.content %>
</div>
<br>
<br>
<br>
<div class="border p-2 members">
        <h5>Collaborators:</h5>
        <% @users.each do |u| %>
        <%= u.username %>
        <br>
        <% end %>
        <br>
      </div>

