<%= render 'shared/navbarburger'%>

<div class="container">
  <div class="pt-2">
    <div>

    <div class="simpleformnew">
      <h5>Manage - <%= @conversation.name %> </h5>
      <%= simple_form_for [@family, @conversation] do |f| %>
        <%= f.input :name, label: "edit name" %>
        <input type="text" name="skipform" value="-2" class="hidden">
        <%= f.button :submit, "Update", class: "btn btn-info"%>
      <% end %>
      <br>
      <div class="border p-2 members">
      <h5>members:</h5>
      <% @users.each do |u| %>
        <%= u.username %>
        <br>
        <% end %>
        <br>
      </div>
      <div class="mt-4">
        <h6>Add a new member</h6>
        <div class="form-group">
          <%= form_tag family_conversation_subscriptions_path(@family, @conversation), method: :post do %>
          <%= select_tag :query, options_from_collection_for_select(@members, "email", "email"),
          class: "form-control",
            placeholder: "email"%>
            <%= hidden_field_tag :add_user, value:  1 %>
            <button name="button" type="submit" class="btn btn-info mt-3 button-add">Add</button>
            <% end %>
        </div>
      </div>
      <br>
      <div class="simpleformghost pb-5">
        <% unless @conversation.users.count == 1 %>
          <%= link_to 'Leave Conversation', subscription_path(user: current_user),
           method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-info" %>
        <% end %>
        <% if @conversation.users.count == 1 %>
          <%= link_to 'Delete Conversation', family_conversation_path(@family), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-dark mt-4" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

