
<h1><%= @family.name %>Conversations</h1>

<% @conversations.each do |conv| %>
<h3><%= conv.name  %> <%= conv.id %></h3>

  <%= simple_form_for [@family, conv, @subscription] do |f| %>
    <%= f.button :submit %>
  <% end %>

<% end %>


<% if @subscriptions.nil? %>
  <p>pas de sub</p>
<% else %>
  <% @subscriptions.each do |sub| %>
  <%= sub.conversation.family.name %>
    <%= sub.conversation.name %>
    <%= sub.user.email %>
    <br>
  <% end %>
<% end %>


