<h2>My Conversations</h2>
<br>
<% if @subscriptions.nil? %>
  <p>No Subscriptions</p>
<% else %>
  <% @subscriptions.each do |sub| %>
    <%= link_to sub.conversation.name, family_conversation_path(@family.id, sub.conversation.id)  %>
    <% message = Message.where(conversation_id: sub.conversation.id).last %>
    <br>
    <%= message.content %>
    <br>
  <% end %>
<% end %>

<br>

<h2> Other <%= @family.name %> conversations</h2>
<br>
<% @conversations.each do |conv| %>
<p class ="convos"><%= conv.name  %></p>

  <%= simple_form_for [@family, conv, @subscription] do |f| %>
    <%= f.button :submit,  'Join Conversation',class: "join-conv" %>
  <% end %>

<% end %>

