<%= render 'shared/navbarburger'%>

<div class="container">
  <div class="conversations-and-icon-new">
    <h4 class="title">My Conversations</h4>
    <div class="new-chat">
      <%= link_to new_family_conversation_path(@family, @conversation) do %>
        <%= image_tag "new_chat.png", :class=>"icons" %>
      <% end %>
    </div>
  </div>



  <% if @subscriptions.nil? %>
    <p>No Subscriptions</p>
  <% else %>
  <div class="subscription-single">
    <% @subscriptions.each do |sub| %>
      <%= link_to family_conversation_path(@family.id, sub.conversation.id) do %>
        <div class="card-product">
          <div class="conv-name pt-2">
            <div class="conv-name-inside">
              <img style="" class="avatar" alt="avatar" src="https://cdn3.iconfinder.com/data/icons/toolbar-people/512/user_group_man_people_users_male-512.png" />
              <%= sub.conversation.name %>
            </div>
<!--             <p style="margin-bottom: 0px" class=""><i class="arrow right arrow-right"></i></p>
 -->
          </div>
          <div class="card-body">
            <% message = Message.where(conversation_id: sub.conversation.id).last %>
            <% unless message.nil? %>
            <div class="last-msg-convo">
              <p><%= message.content %></p>
              <p style="text-align: right"><%= message.created_at.strftime("%I:%M %p") %></p>
            <% end  %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    </div>
  <% end %>
</div>

