<%= render 'shared/navbarburger'%>

<div class="container">
  <div class="container d-flex conv-show-title">
    <h2 class="conversation-name"><%= @conversation.name %></h2>
    <%= link_to "Edit",edit_family_conversation_path  %>
    <%= link_to "Delete", family_conversation_path(@conversation),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
  </div>
  <div class="container-messages">
    <% @messages.each do |message| %>
      <% if message.user == current_user %>
        <div class="my-message">
          <div class="message-info my-msg-info">
            <p class="my-msg-username"><strong><%= message.user.username %></strong></p>
            <p class="my-msg-time"><%= message.created_at %></p>
          </div>
          <%= message.content %>
        </div>
        <% else %>
          <div class="other-messages">
            <div class="message-info">
              <p><%= message.user.username %></p>
              <p><%= message.created_at %></p>
            </div>
          <%= message.content %>
          </div>
        <% end %>
    <% end %>
  </div>

  <div class="message-input">
      <%= render 'messages/form', message: @message %>
    </div>


</div>

