<%= render 'shared/navbarburger'%>
<div class="container">
  <div class="container d-flex conv-show-title">
    <div>
      <h4 class="conversation-name"><%= @conversation.name %></h4>
    </div>
    <div>
      <%= link_to edit_family_conversation_path(@family, @conversation) do %>
       <%= image_tag "settings-icon.png", :class=>"icons" %>
      <% end %>
      <%= link_to family_conversation_path(@family, @conversation),
        method: :delete,
        data: { confirm: "Are you sure?" } do %>
         <%= image_tag "delete-icon.png", :class=>"icons" %>
        <% end %>
    </div>
  </div>
  <div class="container-messages">
      <% @messages.each do |message| %>
      <div class="message">
        <div class="message-info">
          <p><strong><%= message.user.username %></strong></p>
          <p><%= message.created_at %></p>
        </div>
        <%= message.content %>
      </div>
      <% end %>
  </div>

  <div class="message-input">
      <%= render 'messages/form', message: @message %>
    </div>


</div>

