<%= render 'shared/navbarburger'%>
<div class="container container-convo-show">

  <h4 class="conversation-name"><%= @conversation.name %></h4>

  <div class="container-messages">
    <% @messages.each do |message| %>
      <% if message.user == current_user %>
        <div class="my-message">
          <div class="message-info my-msg-info">
            <p class="my-msg-username"><strong><%= message.user.username %></strong></p>
            <p class="my-msg-time"><%= message.created_at %></p>
          </div>
          <%= message.content %>
        </div>
        <% else %>
          <div class="other-messages">
            <div class="message-info">
              <p><%= message.user.username %></p>
              <p><%= message.created_at %></p>
            </div>
          <%= message.content %>
          </div>
        <% end %>
    <% end %>
  </div>

  <div class="message-input">
      <%= render 'messages/form', message: @message %>
    </div>


</div>

