<%= render 'shared/navbarburger'%>

<div class="container">
  <div class="conv-show-title">
      <div id="conv-avatar" class="burger-avatar">
          <%= cl_image_tag @conversation.avatar %>
        </div>
      <h4 class="conversation-name"><%= @conversation.name %></h4>
    <div>
      <%= link_to edit_family_conversation_path(@family, @conversation) do %>
       <%#= image_tag "settings-icon.png", :class=>"icons" %>
       <i class="fas fa-tools"></i>
      <% end %>
    </div>
  </div>

  <div class="container-messages">
    <% @messages.each do |message| %>
       <% if message.user == current_user %>
        <%= render 'messages/my-message', message: message %>
      <% else %>
        <%= render 'messages/other-message', message: message %>
      <% end %>
    <% end %>
  </div>

  <div class="message-input">
      <%= render 'messages/form', message: @message %>
      <%= link_to family_home_media_path(@family) do %>
      <i class="fas fa-upload"></i>
      <% end %>
  </div>






</div>

<% content_for :after_js do %>
  <script>
    App['conversation_<%= @conversation.id %>'] = App.cable.subscriptions.create(
      { channel: 'ConversationsChannel', conversation_id: <%= @conversation.id %> },
      {
        received: (data) => {
          if (data.current_user_id !== <%= current_user.id %>) {
            const messagesContainer = document.querySelector('.container-messages');
            messagesContainer.insertAdjacentHTML('beforeend', data.message_partial);
          }
        }
      }
    )
  </script>
<% end %>
