<div class="container">

  <h2 class="conversation-name"><%= @conversation.name %></h2>

  <div class="container-messages">
      <% @messages.each do |message| %>
      <div class="message">
        <div class="message-info">
          <p><strong><%= message.user.email %></strong></p>
          <p><%= message.created_at %></p>
        </div>
        <p><%= message.content %></p>
      </div>
      <% end %>
  </div>

  <div class="message-input">
      <%= render 'messages/form', message: @message %>
    </div>


</div>

