<%= render 'shared/navbarburger'%>

<div class="container">
  <div class="conv-show-title">
      <img class="avatar" alt="avatar" src="https://cdn3.iconfinder.com/data/icons/toolbar-people/512/user_group_man_people_users_male-512.png" />
      <h4 class="conversation-name"><%= @conversation.name %></h4>
    <div>
      <%= link_to edit_family_conversation_path(@family, @conversation) do %>
       <%= image_tag "settings-icon.png", :class=>"icons" %>
      <% end %>
    </div>
  </div>

  <div class="container-messages">
    <% @messages.each do |message| %>
      <% if message.user == current_user %>
         <div class="my-message">
          <div class="message-info my-msg-info">
            <p class="my-msg-username"><strong><%= message.user.username %></strong></p>
            <p class="my-msg-time"><%= message.created_at.strftime("%I:%M %p") %></p>
          </div>
          <%= message.content %>
        </div>
      <% else %>
          <div class="other-messages">
            <div class="message-info">
              <p><strong><%= message.user.username %></strong></p>
              <p><%= message.created_at.strftime("%I:%M %p") %></p>
            </div>
          <%= message.content %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="message-input">
      <%= render 'messages/form', message: @message %>
    </div>


</div>

<%# content_for :after_js do %>
  <!--<script>
    App['conversation_<%= @conversation.id %>'] = App.cable.subscriptions.create(
      { channel: 'ConversationsChannel', conversation_id: <%= @conversation.id %> },
      { received: (data) => {
        console.log(data);
      }
    })
  </script>
<%# end %>
