<div class="container">
  <div class="pt-2">
    <div>

    <h5>Manage the <%= @family.name %> fam</h5>
    <%= simple_form_for @family do |f| %>
      <%= f.input :name, label: "edit name" %>
      <%#= f.input :avatar %>
      <%#= f.input :avatar_cache, as: :hidden %>
      <%= f.button :submit, class: "btn btn-info"%>
    <% end %>
    </div>
    <br>
    <div class="border p-2">
    <h5>members:</h5>
    <% @users.each do |u| %>
      <%= u.username %> -
      <%= link_to 'bin', membership_path(u.memberships.where(family: @family)), method: :delete, data: {confirm: "Are you sure?"} %>
      <br>
    <% end %>
    </div>
    <div class="mt-4">
      <h6>Add a new member</h6>
    <%= simple_form_for [@family, @membership] do |f| %>
      <%= f.input :user_id, label: "enter user :id" %>
      <%= f.button :submit, class: "btn btn-info"%>
    <% end %>
    </div>
    <%= link_to 'Delete Family', family_path(@family), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-dark mt-5" %>
    <%#= link_to 'Leave Family', membership_path(@family), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-outline-dark" %>

  </div>
</div>
