<%= render 'shared/navbarburger'%>
<div class="container">
  <div class="pt-2">
    <div>

      <div class="simpleformnew">
        <h5>Manage the <%= @family.name %> fam</h5>
        <%= simple_form_for @family do |f| %>
        <%= f.input :name, label: "edit name" %>
        <div class="carrier-wave-field">
          <%= f.input :avatar, label: "upload new avatar" %>
        </div>

        <%= f.input :avatar_cache, as: :hidden %>
        <input type="text" name="skipform" value="-2" class="hidden">
        <%= f.button :submit, "Update", class: "btn" %>
        <% end %>
      </div>
    </div>
    <br>
    <div class="border p-2 members">
      <h5>members:</h5>
      <% @users.each do |u| %>
      <%= u.username %>&nbsp&nbsp
      <% if u != current_user %>
      <%= link_to membership_path(user: u), method: :delete, data: {confirm: "Are you sure?"} do %>
      <i class="far fa-times-circle" style="color: lightgrey; font-size: 12px"></i>
      <% end %>
      <% end %>
      <br>
      <% end %>
    </div>
    <div class="simpleformnew">
      <div class="mt-4">
        <h6>Add a new member</h6>
        <div class="form-group">
          <%= form_tag family_memberships_path(@family), method: :post do %>
          <%= text_field_tag :query,
          params[:query],
          class: "form-control",
            placeholder: "email"%>
            <button name="button" type="submit" class="btn mt-3 button-add">Add</button>
            <% end %>
          </div>
        </div>
      </div>

      <div class="simpleformghost">
      <div class="pb-5">
        <% unless @family.users.count == 1 %>
        <%= link_to 'Leave Family', membership_path(user: current_user), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-dark mt-4 mr-4" %>
        <% end %>
        <% if @family.users.count == 1 %>
        <%= link_to 'Delete Family', family_path(@family), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-dark mt-4" %>
        <% end %>
      </div>
      </div>
    </div>
  </div>
