<%= render 'shared/navbarburger-home' %>
<% @families = current_user.families %>
    <div class="container">
      <div class="main-content mt-5">

        <h1 class="mb-4">
        <% if @families.count.zero? %>
          Create a Fam
        <% else %>
        Select a Fam
        <% end %>
      </h1>


        <div class="cards">
          <% @families.each do |f| %>
          <div>
            <div id="indexcard" class="card">
              <%= link_to family_path(f) do %>
              <%= cl_image_tag f.avatar %>
              <% end %>
            </div>
            <%= link_to f.name, family_path(f) %>
          </div>
          <% end %>
          <div>
            <div id="addfam" class="card">
              <%= link_to new_family_path do %>
              <h1 style="text-decoration: none;">+</h1>
              <% end %>
            </div>
            <%#= link_to "Add Fam", new_family_path %>
          </div>
        </div>
      </div>
    </div>

<%#= cl_image_tag @article.photo, height: 300, width: 400, crop: :fill %>
