<%= render 'shared/navbarhome' %>

<div class="container">
  <div class="main-content">

  <h1>select Fam</h1>

  <div class="cards">
    <% @families.each do |f| %>
    <div>
      <div class="card">
        <%= link_to family_path(f) do %>
          <%= image_tag("big-happy-family.jpg") %>
        <% end %>
      </div>
        <%= link_to f.name, family_path(f) %>
    </div>
    <% end %>
    <div>
    <div class="card">
      <%= link_to new_family_path do %>
        <%= image_tag("plus_sign.jpg") %>
      <% end %>
    </div>
    <%= link_to "Add Fam", new_family_path %>
    </div>
  </div>
  </div>
</div>
