<%= render 'shared/navbarnew' %>

<div class="index-wrapper">
  <%= image_tag 'indexbg.png', height: "300px", class: "index-background-img" %>

  <div class="container mt-5">
    <h5>Create a new fam</h5>

    <div class="simpleformnew mt-3">
      <%= simple_form_for @family do |f| %>
      <%= f.input :name %>
      <%= f.input :avatar %>
      <%= f.input :avatar_cache, as: :hidden %>
      <%= f.button :submit, class: "btn btn-info btn-block"%>
      <% end %>
    </div>
  </div>
</div>
