<%= render 'shared/navbarburger'%>

<div class="container">
  <div class="main-content">
    <h6 class="mb-0">welcome to the</h6>
    <h2><%= @family.name %> Fam</h2>
    <br>
    <div id="showcard" class="cards">
      <div>
        <div class="card option">
          <%= link_to family_conversations_path(@family) do %>
          <%= image_tag("new-chat-logo.png") %>
          <% end %>
        </div>
        <%= link_to "Chat", family_conversations_path(@family) %>
      </div>
      <div>
        <div class="card option">
          <%= link_to family_home_media_path(@family) do %>
          <%= image_tag("new-folder-logo.png") %>
          <% end %>
        </div>
        <%= link_to "Media", family_home_media_path(@family) %>
      </div>
      <div>
        <div class="card option">
          <%= link_to edit_family_path(@family) do %>
          <%= image_tag("new-settings-logo.png") %>
          <% end %>
        </div>
        <%= link_to "Manage", edit_family_path(@family) %>
      </div>
    </div>

    <br>
<!-- <div class="simpleformsearch mt-5">
  <%#= simple_form_for :search, url: root_path, method: :get do |f| %>
  <div class="search-form-control form-group">
    <input class="form-control string required" type="text" name="search[query]" id="search_query" />
    <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i>
    </button>
  </div>
<%# end %>
</div> -->
</div>

<div class="search-media-form mt-5">
  <%= form_tag family_documents_path(@family), method: :get do %>
  <%= text_field_tag :query,
  params[:query],
  class: "form-control",
    placeholder: "browse"%>
    <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i>
    </button>
    <% end %>
  </div>
</div>

<!-- <div class="fixed-bottom">
  <div class="background-box">
    <div class="input-group md-form form-sm form-2 pl-0">
     <%#= form_tag family_documents_path(@family), method: :get do %>
     <%#= text_field_tag :query,
     params[:query], placeholder: "browse", class: "form-control my-0 py-1 red-border" %>
      <input class="form-control my-0 py-1 red-border" type="text" placeholder="Search" aria-label="Search">
      <div class="input-group-append">
        <span class="input-group-text red lighten-3" id="basic-text1"><i class="fas fa-search text-grey"
          aria-hidden="true"></i></span>
          <#% end %>
        </div>
      </div>
    </div>
  </div>
 -->
