<div class="container">
  <div class="main-content">
    <h6 class="mb-0">welcome to the</h6>
    <h2><%= @family.name %> Clan</h2>
    <br>
    <div class="cards">
      <div>
        <div class="card">
          <%= link_to family_conversations_path(@family) do %>
            <%= image_tag("chat-logo.png") %>
          <% end %>
        </div>
        <%= link_to "Chat", family_conversations_path(@family) %>
      </div>
      <div>
        <div class="card">
          <%= link_to family_documents_path(@family) do %>
            <%= image_tag("folder-logo.png") %>
          <% end %>
        </div>
        <%= link_to "Media", family_documents_path(@family) %>
      </div>
      <div>
        <div class="card">
          <%= link_to edit_family_path(@family) do %>
            <%= image_tag("settings-logo.png") %>
          <% end %>
        </div>
        <%= link_to "Manage", edit_family_path(@family) %>
      </div>
    </div>

    <br>
    <%#= form_tag documents_path, method: :get do %>
        <%#= text_field_tag :query,
        params[:query],
        class: "form-control",
          placeholder: "browse"%>
<!--           <button name="button" type="submit" class="btn btn-flat">
            <i class="fas fa-search"></i> Browse
          </button> -->
          <%# end %>

  </div>
</div>







<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>







<%= link_to 'Back to Families', families_path %>
<br>
<h1>All
<%= @family.name %> conversations:</h1>
<% @all_convos.each do |c| %>
<%= c.name %>
<br> -- Family:
<%= c.family.name %>
<br> -- Number of users:
<%= c.users.count %>
<br> -- Number of messages:
<%= c.messages.count %>
<br>
<% end %>
<h1>Your personal conversations in
<%= @family.name %>:</h1>
<% @user_convos.each do |c| %>
<%= c.name %>
<br>
<% end %>
<br>
