<%= render 'shared/navbarburger'%>

<div class="container">
  <div class="main-content">
    <h6 class="mb-0">welcome to the</h6>
    <h2><%= @family.name %> Fam</h2>
    <br>
    <div id="showcard" class="cards">
      <div>
        <div class="card">
          <%= link_to family_conversations_path(@family) do %>
            <%= image_tag("chat-logo.png") %>
          <% end %>
        </div>
        <%= link_to "Chat", family_conversations_path(@family) %>
      </div>
      <div>
        <div class="card">
          <%= link_to family_documents_path(@family) do %>
            <%= image_tag("folder-logo.png") %>
          <% end %>
        </div>
        <%= link_to "Media", family_documents_path(@family) %>
      </div>
      <div>
        <div class="card">
          <%= link_to edit_family_path(@family) do %>
            <%= image_tag("settings-logo.png") %>
          <% end %>
        </div>
        <%= link_to "Manage", edit_family_path(@family) %>
      </div>
    </div>

    <br>
    <%#= form_tag documents_path, method: :get do %>
        <%#= text_field_tag :query,
        params[:query],
        class: "form-control",
          placeholder: "browse"%>
<!--           <button name="button" type="submit" class="btn btn-flat">
            <i class="fas fa-search"></i> Browse
          </button> -->
          <%# end %>

  </div>
</div>
