<%= render 'shared/navbarburger'%>

<div class="container">
  <div class="main-content">
    <div class="card option rounded" id="fam-av">
          <%#= link_to edit_family_path(@family) do %>
          <%= cl_image_tag @family.avatar %>
          <%# end %>
        </div>
    <p class="mb-0">Welcome to the</p>
    <h2><%= @family.name %> Family</h2>
    <br>
    <!-- <div id="fam-av"> -->

    <!-- </div> -->
    <div id="showcard" class="cards">
      <div>
        <div class="card option">
          <%= link_to family_conversations_path(@family) do %>
          <%= image_tag("new-chat-logo.png") %>
          <% end %>
        </div>
        <%= link_to "Chat", family_conversations_path(@family) %>
      </div>
      <div>
        <div class="card option">
          <%= link_to family_home_media_path(@family) do %>
          <%= image_tag("new-folder-logo.png") %>
          <% end %>
        </div>
        <%= link_to "Media", family_home_media_path(@family) %>
      </div>
      <div>
        <div class="card option" id="manage-btn">
          <%= link_to edit_family_path(@family) do %>
          <%= image_tag("new-settings-logo.png") %>
          <% end %>
        </div>
        <%= link_to "Manage", edit_family_path(@family) %>
      </div>
      <div>
        <div class="card option" id="manage-btn">
          <%= link_to family_notes_path(@family) do %>
          <%= image_tag("new-notes-logo.png") %>
          <% end %>
        </div>
        <%= link_to "Notes", family_notes_path(@family) %>
      </div>
    </div>
  </div>
  </div>
  <div class="feed-header">
    <p>Recent Activity</p>
  </div>
  <% @activities.each do |sh| %>
  <% if sh.user == current_user %>
      <div class="card activity border-top border-bottom me">
    <% else %>
      <div class="card activity border-top border-bottom them">
    <% end %>
    <div class="activity-details d-flex justify-content-between">

    <p><strong>
      <% if sh.user == current_user %>
    <span style="color: <%= sh.user.color %>">You </span>posted in
    <% else %>
    <span style="color: <%= sh.user.color %>"><%= sh.user.username %> </span>posted in
    <% end %>
    <%= link_to "#{sh.conversation.family.name} / #{sh.conversation.name}", family_conversation_path(sh.conversation.family, sh.conversation) %></strong></p>
    <p id="timestamp" style="text-align: right">at <%= sh.created_at.strftime("%I:%M %p") %></p>
    </div>
    <% if sh.document.nil? %>
      <div class="activity-message activity-details">
        <%= Rinku.auto_link(sh.content, :all, 'target="_blank"').html_safe %>
      </div>
    <% else %>
      <%= link_to family_document_path(sh.document.family, sh.document) do %>
      <%= cl_image_tag sh.content %>
      <% end %>
      <p class="activity-details mb-0">
      <% sh.document.tags.each do |tag| %>
      #<%= tag.name %>
      <% end %></p>
    <% end %>
  </div>
  <br>
  <% end %>
  <br>
  <br>
  <br>
  <br>
  <br>
<!-- <div class="simpleformsearch mt-5">
  <%#= simple_form_for :search, url: root_path, method: :get do |f| %>
  <div class="search-form-control form-group">
    <input class="form-control string required" type="text" name="search[query]" id="search_query" />
    <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i>
    </button>
  </div>
<%# end %>
</div> -->

<!-- <div class="search-media-fam-show mt-5">
  <#%= form_tag family_documents_path(@family), method: :get do %>
  <#%= text_field_tag :query,
  params[:query],
  class: "form-control",
    placeholder: "browse"%>
    <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i>
    </button>
    <#% end %>
  </div>
</div> -->

<div class="footer">
  <div class="search-media-fam-show">
  <%= form_tag family_documents_path(@family), method: :get do %>
  <%= text_field_tag :query,
  params[:query],
  class: "form-control",
    placeholder: "Browse..."%>
    <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i>
    </button>
    <% end %>
  </div>

  </div>


