<nav class="navbarburger d-flex my-auto mb-3 pl-3 pr-3" style="justify-content: space-between;">
<!--   <span class="navbar-brand mb-0"></span>
-->
<div>

  <!--Conditional statement for back btn -->
  <% if current_page?(families_path) %>
  <div onclick="goBack()">
    <i class="fas fa-chevron-left"></i>
  </div>
  <script>
    function goBack(amount) {
      window.history.go(amount || -1);
    }
  </script>
  </div>
  <% elsif current_page?(new_family_path) %>
  <%= link_to families_path do %>
  <i class="fas fa-chevron-left"></i>
  <% end %>
  <% elsif current_page?(new_family_conversation_path(@family)) %>
  <%= link_to family_conversations_path(@family) do %>
  <i class="fas fa-chevron-left"></i>
  <% end %>
  <% elsif current_page?(family_path(@family)) %>
  <%= link_to families_path do %>
  <i class="fas fa-chevron-left"></i>
  <% end %>
  <% elsif current_page?(edit_family_path(@family)) %>
  <%= link_to family_path(@family) do %>
  <i class="fas fa-chevron-left"></i>
  <% end %>
  <% elsif current_page?(family_conversations_path(@family)) %>
  <%= link_to family_path(@family) do %>
  <i class="fas fa-chevron-left"></i>
  <% end %>
  <% elsif current_page?(family_home_media_path(@family)) %>
  <%= link_to family_path(@family) do %>
  <i class="fas fa-chevron-left"></i>
  <% end %>
  <% elsif current_page?(edit_family_conversation_path(@family, @conversation)) %>
  <%= link_to family_conversation_path(@family, @conversation) do %>
  <i class="fas fa-chevron-left"></i>
  <% end %>
  <% elsif current_page?(family_conversation_path(@family, @conversation)) %>
  <%= link_to family_conversations_path(@family) do %>
  <i class="fas fa-chevron-left"></i>
  <% end %>
  <% elsif current_page?(family_conversation_shares_path(@family, @conversation)) %>
  <%= link_to edit_family_conversation_path(@family, @conversation) do %>
  <i class="fas fa-chevron-left"></i>
  <% end %>
  <% else %>
    <div onclick="goBack()">
    <i class="fas fa-chevron-left"></i>
  </div>
  <script>
    function goBack(amount) {
      window.history.go(amount || -1);
    }
  </script>
  </div>
  <% end %>







  <!-- <div onclick="goBack(<%#= params[:skipform]&.to_i%>)"> -->
    <!-- <i class="fas fa-chevron-left"></i> -->
  <!-- </div> -->
<!--   <script>
    function goBack(amount) {
      window.history.go(amount || -1);
    }
  </script> -->


</div>

<div class="logo-myfam">
  <%= link_to families_path do %>
  <%#= image_tag "logomyfam.png", :class=>"icons" %>
  <%#= image_tag "tree-silhouette.png", :class=>"icons" %>
  <%#= image_tag "bamboo.png", :class=>"icons" %>
  <%#= image_tag "orange.png", :class=>"icons" %>
  <%#= image_tag "tree-red.png", :class=>"icons" %>
  <%#= image_tag "tree.png", :class=>"icons" %>
  <%#= image_tag "eucalyptus.png", :class=>"icons" %>
  <%#= image_tag "arc-de-triomphe.png", :class=>"icons" %>
  <%= image_tag "arc-de-triomphe-dark.png", :class=>"icons" %>
  <!-- <i class="fab fa-pagelines"></i> -->
<!-- <i class="fas fa-archway"></i> -->
<!--   <i class="far fa-hand-paper"></i>
  <i class="far fa-hand-peace"></i> -->
  <!-- <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"             title="Flaticon">www.flaticon.com</a></div> -->
  <% end %>
</div>

<%= render 'shared/burger-menu' %>


</nav>

