<%= render 'shared/navbarburger-docs'%>
<div class="container">
  <div class="search-media-form mt-5">
  <%= form_tag family_documents_path(@family), method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control",
        placeholder: "browse"%>
        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search"></i>
        </button>
        <% end %>
  </div>

  <div class="upload_doc d-flex">
      <%= render "shared/document_form" %>
  </div>

  <% if @documents.empty? %>
    <p id="search-message">There are no tags by the name <%= params[:query] %></p>
  <% elsif params[:query].present? %>
    <p id="search-message">Results for <%= params[:query] %>...</p>
  <% end %>

  <h4> <%= @family.name %>'s Tags</h4>

  <div class="container">
    <div class="row">
      <% @tags.each do |tag| %>
        <% document = @documents.by_tag(tag.name).sample %>
        <% next unless document %>
        <%= link_to family_documents_path(@family, query: tag.name) do %>
          <div class="col-xs-3">
            <%= image_tag document.content.url(:thumb), height: 80, width: 80, crop: :fill, class: "img-fam-index" %>
          <br>
          <p>
            #<%= tag.name %>
          </p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <h4> <%= @family.name %>'s Photos</h4>

  <div class="container">
    <div class="row">
      <% @documents.each do |doc| %>
        <% if doc.content.is_image?(doc.content) %>
          <div class="col-xs-3">
            <%= link_to family_document_path(@family, doc) do %>
            <%= image_tag doc.content.url(:thumb), height: 80, width: 80, crop: :fill, class: "img-fam-index" %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <h4> <%= @family.name %>'s Documents</h4>

  <div class="container">
    <div class="row">
      <% @documents.each do |doc| %>
        <% unless doc.content.is_image?(doc.content) %>
          <div class="col-xs-3">
            <%= link_to family_document_path(@family, doc) do %>
            <%= image_tag doc.content.url(:thumb), height: 80, width: 80, crop: :fill, class: "img-fam-index" %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
