<%= render 'shared/navbarburger-docs'%>
<div class="container">

  <div class= "container container-upper-media border-bottom">
   <!--  <div class="search-media-form">
      <#%= form_tag family_documents_path(@family), method: :get do %>
          <#%= text_field_tag :query,
          params[:query],
          class: "form-control",
            placeholder: "browse"%>
            <button name="button" type="submit" class="btn btn-flat">
              <i class="fas fa-search"></i>
            </button>
      <#% end %>
    </div> -->

  <h4><%= @family.name %> / Media</h4>
    <div class="upload_doc d-flex mb-2">
        <%= render "shared/document_form" %>
    </div>
  </div>
</div>

<div class="container media-content">
  <% if @documents.empty? && params[:query].present? %>
      <p id="search-message">There are no tags by the name #<%= params[:query] %></p>
    <% elsif params[:query].present? %>
      <p id="search-message">Results for #<%= params[:query] %>...</p>
    <% end %>
    <div class="container">
      <div class="row">
        <% @documents.each do |doc| %>
          <div class="col-xs-3">
            <%= link_to family_document_path(@family, doc) do %>
            <%= image_tag doc.content.url(:thumb), height: 80, width: 80, crop: :fill, class: "img-fam-index" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
</div>

<div class="footer">
    <div class="search-media-fam-show">
      <%= form_tag family_documents_path(@family), method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control",
        placeholder: "Browse..."%>
        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search"></i>
        </button>
        <% end %>
    </div>
</div>

