<%= render 'shared/navbarburger-docs'%>
<div class="container">

  <div class= "container container-upper-media">
   <!--  <div class="search-media-form">
      <#%= form_tag family_documents_path(@family), method: :get do %>
          <#%= text_field_tag :query,
          params[:query],
          class: "form-control",
            placeholder: "browse"%>
            <button name="button" type="submit" class="btn btn-flat">
              <i class="fas fa-search"></i>
            </button>
      <#% end %>
    </div> -->

      <div class="upload_doc d-flex">
          <%= render "shared/document_form" %>
      </div>
  </div>
    <% if @family.documents.empty? %>
      <p id="search-message">There are no tags by the name <%= params[:query] %></p>
    <% elsif params[:query].present? %>
      <p id="search-message">Results for <%= params[:query] %>...</p>
    <% end %>
</div>

<div class="footer">
  <div class="search-media-fam-show">
  <%= form_tag family_documents_path(@family), method: :get do %>
  <%= text_field_tag :query,
  params[:query],
  class: "form-control",
    placeholder: "Browse..."%>
    <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i>
    </button>
    <% end %>
  </div>
  </div>
