<%= render 'shared/navbarburger'%>
<div class="container">

  <div class="simpleformsearch mt-5">
    <%= form_tag family_documents_path(@family), method: :get do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
          placeholder: "browse"%>
          <button name="button" type="submit" class="btn btn-flat">
            <i class="fas fa-search"></i> Browse
          </button>
          <% end %>
  </div>


      <div class="simpleformnew mt-3">
        <%= simple_form_for [@family, @document] do |f| %>
        <%= f.input :content %>
        <%= f.input :content_cache, as: :hidden %>
        <%= f.button :submit, class: "btn btn-info"%>
        <% end %>
      </div>
      <% if @documents.empty? %>
        <p id="search-message">There are no tags by the name <%= params[:query] %></p>
      <% elsif params[:query].present? %>
        <p id="search-message">Results for <%= params[:query] %>...</p>
      <% end %>
  <div class="row">
        <% @documents.each do |doc| %>
          <div class="col-xs-3">
            <%= cl_image_tag doc.content, height: 90, width: 90, crop: :fill, class: "img-fam-index" %>
          </div>
        <% end %>
  </div>

</div>
