<%= render 'shared/navbarburger-docs'%>

<div class="container">


  <div class="show-doc">
    <% if is_image?(@document.content) %>
    <%= cl_image_tag @document.content %>
    <% else %>
    <%= render "documents/document", document: @document %>
    <% end %>
  </div>
  <!-- <div class="doc-manage"> -->

    <div class="tags mb-3">
      <% @document.tags.each do |t| %>
      <strong>#</strong><%= t.name %>
      <% unless t.name == "untagged" %>
      <%= link_to tag_path(t), method: :delete do %>
      <i class="far fa-times-circle" style="color: gray; font-size: 12px;"></i>
      <% end %>
      <% end %>
      &nbsp
      <% end %>

      <div class="delete-btn-form" id="delete-btn">
        <% if @document.user == current_user %>
        <%= link_to document_path(@document, family_id: @family), method: :delete, data: {confirm: "Are you sure?"} do %>
        <i class="far fa-trash-alt" style="font-size:100%"></i>
        <% end %>
        <% end %>
      </div>
    </div>

    <!-- </div> -->
    <div class="add-hashtag">
      <div class="add-tag">
        <div id="tag-input" class="simpleformnew mt-3">
            <div id="btnGroupAddon" style="color: black;"><strong>#</strong></div>
          <%= simple_form_for [@family, @document, @tag] do |f| %>
          <%= f.input :name.downcase, label: false, placeholder: "Add a tag" %>
        </div>
        <div class="add-btn simpleformghost mt-3">
          <%= f.button :submit, "Add", class: "btn"%>
        </div>
        <% end %>
      </div>
    </div>

    <div class="add-hashtag">
      <div class="add-tag">
        <div id="tag-input" class="simpleformnew">
          <%= simple_form_for [@family, @message] do |f| %>
          <%= f.input :document_id, as: :hidden, input_html: { value: @document.id }%>
          <%= f.input :conversation_id, collection: @conversations, prompt: "Select a conversation", label: false %>
        </div>
        <div class="add-btn simpleformnew mt-3">
          <%= f.button :submit, "Send", class: "btn"%>
        </div>
        <% end %>
      </div>
    </div>
</div>


<!-- <div class="send-media-form">
  <%= simple_form_for [@family, @message] do |f| %>
    <%= f.input :document_id, as: :hidden, input_html: { value: @document.id } %>
    <%= f.input :conversation_id, collection: @conversations, prompt: "select a conversation", label: false %>
    <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-arrow-circle-right"></i>
    </button>

  <% end %>
</div>

</div> -->

