<%= render 'shared/navbarburger'%>

<div class="show-doc">
  <% if is_image?(@document.content) %>
    <%= cl_image_tag @document.content %>
  <% else %>
    <%= render "documents/document", document: @document %>
  <% end %>
</div>
<!-- <div class="doc-manage"> -->

<div class="tags">
  <% @document.tags.each do |t| %>
    <strong>#</strong><%= t.name %>
    <% unless t.name == "untagged" %>
      <%= link_to tag_path(t), method: :delete, data: {confirm: "Are you sure?"} do %>
        <i class="far fa-times-circle" style="color: lightgrey; font-size: 12px"></i>
      <% end %>
    <% end %>
    &nbsp
  <% end %>
</div>
<!-- </div> -->
<div class="add-hashtag">
  <div class="add-tag">
    <div class="hash">
      <h2>#</h2>
    </div>
    <div id="tag-input" class="simpleformnew mt-3">
      <%= simple_form_for [@family, @document, @tag] do |f| %>
      <%= f.input :name, label: false, placeholder: "add a tag" %>
    </div>
    <div class="add-btn simpleformnew mt-3">
      <%= f.button :submit, "Add", class: "btn btn-info"%>
    </div>
    <% end %>
  </div>
</div>

<div class="simpleformghost" id="delete-btn">
  <% if @document.user == current_user %>
    <%= link_to 'Delete', document_path(@document, family_id: @family), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-dark" %>
  <% end %>
</div>


<div class="send-media-form">
  <%= simple_form_for [@family, @message] do |f| %>
    <%= f.input :content, as: :hidden, input_html: { value: @document.content } %>
    <%= f.input :content_type, as: :hidden, input_html: { value: "media" } %>
    <%= f.input :conversation_id, collection: @conversations %>
    <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-paper-plane"></i>
    </button>

  <% end %>
</div>
