<%= render 'shared/navbarburger-docs'%>
<div class="show-doc">
    <% if is_image?(@document.content) %>
    <%= cl_image_tag @document.content %>
    <% else %>
    <%= render "documents/document", document: @document %>
    <% end %>
  </div><div class="add-hashtag">
  <div class="add-tag">
    <div id="tag-input" class="simpleformnew mt-3 ml-4" style="width: 70%;">
      <div id="btnGroupAddon" style="color: black;"><strong>#</strong></div>
      <%= simple_form_for [@family, @document, @tag] do |f| %>
      <%= f.input :name, label: false, placeholder: "Add a tag to your upload" %>
    </div>
    <div class="add-btn simpleformnew mt-3 mr-4">
      <%= f.button :submit, "Add", class: "btn btn"%>
    </div>
    <% end %>
  </div>
</div>
