<%= render 'shared/navbarburger'%>

<div class="show-doc">
<%= cl_image_tag @document.content %>
</div>
<div class="add-hashtag">
  <div class="simpleformnew mt-3">
    <%= simple_form_for [@family, @document, @tag] do |f| %>
    <%= f.input :name, label: "Add a tag to your upload" %>
    <%= f.button :submit, "Submit", class: "btn btn-info"%>
    <% end %>
  </div>

</div>
